ProductDetails.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="products">
    <xs:sequence>
      <xs:element name="productID" type="xs:integer"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="productNumber" type="xs:string"/>
      <xs:element name="color" type="xs:string"/>
      <xs:element name="listPrice" type="xs:decimal"/>
      <xs:element name="sellStartDate" type="xs:dateTime"/>
      <xs:element name="sellEndtDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
