storeDetails.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.estg.ipp.pt/storeDetails" 
    xmlns="http://www.estg.ipp.pt/storeDetails" 
    xmlns:s="http://www.estg.ipp.pt/salesDetails" elementFormDefault="qualified">

    <xs:element name="store">
        <xs:complexType>
            <xs:sequence>
            <xs:element name="storeID" type="s:store"/>
            <xs:element name="storeName" type="s:storeN"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>